[submodule "KaHIP"]
	path = KaHIP
	url = git@github.com:KaHIP/KaHIP.git
	branch = master
[submodule "VieClus"]
	path = VieClus
	url = git@github.com:VieClus/VieClus.git
	branch = master
[submodule "VieCut"]
	path = VieCut
	url = git@github.com:VieCut/VieCut.git
	branch = master
[submodule "CHILS"]
	path = CHILS
	url = git@github.com:KarlsruheMIS/CHILS.git
	branch = main
[submodule "KaMIS"]
	path = KaMIS
	url = https://github.com/KarlsruheMIS/KaMIS.git
[submodule "SCC"]
	path = SCC
	url = https://github.com/ScalableCorrelationClustering/ScalableCorrelationClustering.git
[submodule "HeiOrient"]
	path = HeiOrient
	url = https://github.com/HeiOrient/HeiOrient.git
[submodule "KaLP"]
	path = KaLP
	url = https://github.com/KarlsruheLongestPaths/KaLP.git
