[submodule "KaHIP"]
	path = external_repositories/KaHIP
	url = git@github.com:KaHIP/KaHIP.git
	branch = master
[submodule "VieClus"]
	path = external_repositories/VieClus
	url = git@github.com:VieClus/VieClus.git
	branch = master
[submodule "VieCut"]
	path = external_repositories/VieCut
	url = git@github.com:VieCut/VieCut.git
	branch = master
[submodule "CHILS"]
	path = external_repositories/CHILS
	url = git@github.com:KarlsruheMIS/CHILS.git
	branch = main
[submodule "KaMIS"]
	path = external_repositories/KaMIS
	url = https://github.com/KarlsruheMIS/KaMIS.git
[submodule "SCC"]
	path = external_repositories/SCC
	url = https://github.com/ScalableCorrelationClustering/ScalableCorrelationClustering.git
[submodule "HeiOrient"]
	path = external_repositories/HeiOrient
	url = https://github.com/HeiOrient/HeiOrient.git
[submodule "fpt-max-cut"]
	path = external_repositories/fpt-max-cut
	url = https://github.com/DataReductionMaxCut/fpt-max-cut.git
[submodule "HeidelbergMotifClustering"]
	path = external_repositories/HeidelbergMotifClustering
	url = https://github.com/LocalClustering/HeidelbergMotifClustering.git
[submodule "HeiStream"]
	path = external_repositories/HeiStream
	url = https://github.com/KaHIP/HeiStream.git
[submodule "external_repositories/HyperMIS"]
	path = external_repositories/HyperMIS
	url = https://github.com/KarlsruheMIS/HyperMIS
